.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
node_modules
dist
coverage
benchmark/output.txt
lib/bench.js
lib/fitness.js
lib/strategy-battery-charging-functions.js
lib/strategy-battery-charging.js
