---
name: Benchmark
on:
  push:
    branches-ignore:
      - master

jobs:
  benchmark:
    name: Run JavaScript benchmark
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: yarn
      - name: Run install
        uses: borales/actions-yarn@v5
        with:
          cmd: install --immutable
      - name: Build
        run: yarn run build
      - name: Run benchmark
        run: yarn run benchmark
      - name: Download previous benchmark data
        uses: actions/cache@v5
        with:
          path: ./cache
          key: ${{ runner.os }}-benchmark
      - name: Copy master benchmark data
        run: |
          if test -f ./cache/benchmark-data.json; then
            cp ./cache/benchmark-data.json ./cache/benchmark-master-data.json
          fi
      - name: Compare with master
        uses: benchmark-action/github-action-benchmark@v1
        with:
          name: Compare with master
          tool: 'benchmarkjs'
          output-file-path: benchmark/output.txt
          external-data-json-path: ./cache/benchmark-master-data.json
          github-token: ${{ secrets.GITHUB_TOKEN }}
          auto-push: false
          # Show alert with commit comment on detecting possible performance regression
          alert-threshold: '130%'
          comment-on-alert: true
          comment-always: true
          fail-on-alert: true
