---
name: Benchmark Master
on:
  push:
    branches:
      - master

jobs:
  benchmark:
    name: Run JavaScript benchmark
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: yarn
      - name: Run install
        uses: borales/actions-yarn@v5
        with:
          cmd: install --immutable
      - name: Build
        run: yarn run build
      - name: Run benchmark
        run: yarn run benchmark
      - name: Download previous benchmark data
        uses: actions/cache@v5
        with:
          path: ./cache
          key: ${{ runner.os }}-benchmark

      - name: Compare with previous commit
        uses: benchmark-action/github-action-benchmark@v1
        with:
          name: 'Calculate'
          tool: 'benchmarkjs'
          output-file-path: benchmark/output.txt
          external-data-json-path: ./cache/benchmark-data.json
          # Access token to deploy GitHub Pages branch
          github-token: ${{ secrets.GITHUB_TOKEN }}
          # Push and deploy GitHub pages branch automatically
          auto-push: false

      - name: Store benchmark result
        uses: benchmark-action/github-action-benchmark@v1
        with:
          name: 'Calculate'
          tool: 'benchmarkjs'
          output-file-path: benchmark/output.txt
          # Access token to deploy GitHub Pages branch
          github-token: ${{ secrets.GITHUB_TOKEN }}
          # Push and deploy GitHub pages branch automatically
          auto-push: true
